* {
  font-family: "Mitr", sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: whitesmoke;
  z-index: 10;
}

.mainSearch {
  display: flex;
  align-items: center;
}

.mainSearch .logo {
  padding: 10px;
  font-size: 35px;
  color: blue;
}

.mainSearch .logo:hover {
  color: darkblue;
}

.mainSearch .searchInput {
  display: block;
  height: 35px;
  border-radius: 20px;
  padding: 0 15px;
}

.mainSearch .searchInput:focus {
  border: 3px solid teal;
}

.navigation > li > a {
  border-radius: 50%;
  background-color: aquamarine;
  display: flex;
  margin: 0 5px;
}

.navigation > li > a:hover {
  border: 1px solid darkblue;
  background-color: teal;
}

.navigation,
.links {
  display: flex;
}

.navIcons {
  font-size: 35px;
  color: blue;
  margin: 0 10px;
}

.navIcons:hover {
  color: darkblue;
}

main {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.leftContent,
.rightContent {
  background-color: grey;
  width: 200px;
  height: 900px;
}
.leftContent {
  background-image: url("../assets/images/wallpaper.jpg");
  background-repeat: no-repeat;
  height: 685px;
  background-size: 750px;
}

.mainContent {
  width: 600px;
  border: 1px solid red;
}

.mainContent .post {
  box-shadow: 5px 5px 5px 5px #888;
  margin: 20px 0;
}

.mainContent .post .postHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mainContent .post .postHeader .profileUserInfo {
  display: flex;
}

.mainContent .post .postHeader .profileUserInfo .profileImage {
  width: 50px;
  border-radius: 50%;
}

.mainContent .post .postHeader .profileUserInfo .profileName {
  display: flex;
  flex-direction: column;
}

.mainContent .post .postHeader .profileOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
}

.mainContent .post .postHeader .profileOptions:hover {
  background-color: lightgray;
}

.content .imgWrapper {
  position: relative;
}

.content .imgWrapper .imgContent {
  max-width: 100%;
}

.content .imgWrapper .infoIcon {
  position: absolute;
  bottom: -15px;
  right: 20px;
  font-size: 28px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: grey;
  color: white;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.postTitle {
  margin-top: 5px;
  padding-left: 15px;
  display: block;
}

.postDescription {
  padding: 15px;
}
.reacts {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.actions {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
  padding-left: 0;
}
.reaction {
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 15px;
  margin: 10px 0;
  color: aqua;
}
.reaction:hover {
  background-color: lightgray;
  color: blue;
}
.reaction span {
  color: black;
}
.reaction:hover span {
  color: black;
}
.reactionIcon {
  font-size: 20px;
}
.commentsSection {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
  align-items: center;
}
.commentsSection .profileImage {
  width: 30px;
  border-radius: 50%;
}
.newContentField {
  background-color: #f0f2f5;
  padding: 10px;
  border-radius: 10px;
  width: 80%;
}
input[type="text"] {
  background-color: aliceblue;
}
.newContentField::placeholder {
  color: darkblue;
}
.animation {
  /* lll */
}
