* {
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: whitesmoke;
  z-index: 10;
}
/* top si bottom si left si right nu pot fi setate ambele simultan pt ca este conflict */

.mainSearch {
  display: flex;
  align-items: center;
}

.mainSearch .logo {
  padding: 10px;
  font-size: 35px;
  color: blue;
}
.mainSearch .logo:hover {
  color: darkblue;
}

.navigation,
.links {
  display: flex;
}

.mainSearch .searchInput {
  display: block;
  height: 35px;
  border-radius: 20px;
  padding: 0 15px;
}
.mainSearch .searchInput:focus {
  border: 3px solid teal;
  /* de revizuit */
}

.navIcons {
  font-size: 35px;
  color: blue;
  margin: 0 10px;
}
.navigation .navIcons:hover {
  color: darkblue;
}

.navigation > li > a {
  border-radius: 50%;
  background-color: aquamarine;
  display: flex;
  margin: 5px;
}
.navigation > li > a:hover {
  border: 1px solid darkblue;
  background-color: teal;
}

main {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 100px;
}
/* margin-top 60 este pentru a nu se suprapune cu headerul care are height 60px; */

.leftContent,
.rightContent {
  background-color: grey;
  width: 200px;
}

.mainContent {
  width: 600px;
  border: 1px solid red;
  font-size: 1rem;
}

/* am de facut continutul leftright content 
*/

.mainContent .post {
  box-shadow: 5px 5px 5px 5px #888;
  margin: 20px 0;
}

.mainContent .post .postHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mainContent .post .postHeader .profileUserInfo {
  display: flex;
}

.mainContent .post .postHeader .profileUserInfo .profileImage {
  width: 50px;
  border-radius: 50%;
}

.mainContent .post .postHeader .profileUserInfo .profileName {
  display: flex;
  flex-direction: column;
}

.mainContent .post .postHeader .profileOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
}
.mainContent .post .postHeader .profileOptions:hover {
  background-color: lightgray;
}

.content .imgWrapper {
  position: relative;
}
.content .imgWrapper .infoIcon {
  position: absolute;
  bottom: -15px;
  right: 20px;
  font-size: 28px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: gray;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 28px;
  cursor: pointer;
}

.content .imgWrapper .imgContent {
  max-width: 100%;
}

.postTitle {
  margin-top: 5px;
  padding-left: 15px;
  display: block;
}

.postDescription {
  padding: 15px;
}
/* TEMA */

h3 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 1rem;
  white-space: nowrap;
  cursor: pointer;
  padding-left: 1rem;
  font-size: 1.8em;
}

.rightContent h3 {
  padding-left: 1.5rem;
}
.menu > li,
.groups > li,
.shortcuts > li {
  padding: 5px;
}

.rightContent::-webkit-scrollbar,
.leftContent::-webkit-scrollbar {
  display: none;
}
.leftContent,
.rightContent {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;

  position: fixed;
  z-index: 9;
  padding-bottom: 5rem;
  justify-content: start;
  align-items: center;
}

main {
  white-space: normal;
  justify-content: center;
}

.responsiveIcons {
  margin-right: 0.5rem;
  font-size: 1em;
}
.rightContent {
  right: 0;
}
.leftContent {
  left: 0;
}

.leftContent > ul > li,
.rightContent > ul > li {
  display: flex;
  white-space: nowrap;
  cursor: pointer;
  justify-content: flex-start;
  padding-left: 3.5rem;
  font-size: 1rem;
}

.rightContent > ul > li {
  padding: 1rem 3.5rem;
}

.leftContent > ul > li:hover,
.rightContent > ul > li:hover {
  background-color: rgb(105, 105, 105);
  margin: 0 0.3rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  border-radius: 0.5rem;
}

.leftContent > ul,
.rightContent > ul {
  width: 100%;
}

.leftContent > h3:hover {
  background-color: rgb(105, 105, 105);
}

.reacts {
  padding: 15px;
  display: flex;
  justify-content: space-around;
}

.actions {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  /* padding reset */
  margin: 15px 0;
}

.reaction:hover {
  background-color: lightgrey;
}

.reaction {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 0;
}

.reactionIcon {
  color: aqua;
  font-size: 20px;
}

.reactionIcon:hover {
  color: blue;
}

.commentSection .profileImage {
  width: 30px;
  border-radius: 50%;
}

.newCommentField {
  width: 70%;
  border-radius: 10px;
  /* opacity: 0.3; */
  background-color: #f0f2f5;
  margin-bottom: 10px;
}

.newCommentField::placeholder {
  color: blue;
}

.commentSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

button {
  border: none;
  background: none;
}
/* 
input {
  background-color: bisque; }*/

input[type="text"] {
  background-color: azure;
}
.mainContent {
  min-width: min-content;
  margin-left: 13rem;
  margin-right: 13rem;
}

@media only screen and (max-width: 700px) {
  .rightContent {
    display: none;

    /* visibility: hidden; */
  }

  .leftContent {
    width: 10%;
  }
  ul {
    display: none;
  }

  .hideText {
    display: none;
  }

  h3 {
    padding: 0.5rem;
    justify-content: center;

    max-width: max-content;
    border-radius: 10px;
  }
  .responsiveIcons {
    margin: 0;
  }
  .mainContent {
    margin-right: 0;
    margin-left: 10%;
  }
}

/* de verificat main content ca e retardat */
