* {
  font-family: "Noto Serif", serif; /* fonturi cu serife sau fara, adica cu sau fara liniile care lungesc literele la extremitati*/
  box-sizing: border-box;
}

ul {
  list-style: none;  /* sa dispara bulinele */
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit; /* inherit mosteneste de la parinte*/
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background-color: rgb(206, 206, 206);
  z-index: 10;
}

.mainSearch {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  margin-top: 13px;
}

.mainSearch .logo {
  padding: 10px;
  font-size: 35px;
  color: rgb(32, 124, 211);
}

.mainSearch .logo:hover {
  color: darkblue;
}

.mainSearch .searchInput {
  display: block;
  height: 35px;
  border-radius: 20px;
  padding: 0 15px;
}

.mainNavigation {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}


.navigation > li > a {
  display: flex;
  border-radius: 50%;
  margin: 0 8px;
}

.navigation > li > a:hover { /* > inseamna copil direct */
  margin: 0 8px;
}

.links {
 margin-top: 12px;
}

.navigation,
.links {
  display: flex;
}

.navIcon {
  font-size: 35px;
  color: rgb(32, 124, 211);
  margin: 0 10px;
}

.navIcon:hover {
  color: darkblue;
}

main {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.leftContent,
.rightContent {
  background-color: grey;
  flex: 4;
  height: 100rem;
  max-width: 400px;
  position: sticky;
  top: 30px,
}

.mainContent {
  flex: 8;
  margin: 0 40px;

}

.mainContent .post {
  box-shadow: 5px 5px 5px 5px #888;
  margin: 20px 0;
}

.mainContent .post .postHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mainContent .post .postHeader .profileUserInfo {
  display: flex;
}

.mainContent .post .postHeader .profileUserInfo .profileImage {
  width: 50px;
  border-radius: 50%;
  margin: 5px;
}

.mainContent .post .postHeader .profileUserInfo .profileName {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.mainContent .post .postHeader .profileOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
}

.mainContent .post .postHeader .profileOptions:hover {
  background-color: lightgray;
}

.content .imgWrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.content .imgWrapper .imgContent {
  width: 70%;
}

.content .imgWrapper .infoIcon {
  position: absolute;
  bottom: -15px;
  right: 20px;
  font-size: 25px;
  border-radius: 50%;
  border: 2px solid whitesmoke;
  background-color: grey;
  color: white;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.postTitle {
  margin-top: 5px;
  padding-left: 15px;
  display: block;
}

.postDescription {
  padding: 15px;
}






@media screen and (max-width: 700px) {

  .leftContent,
  .rightContent, .links {
    display: none;
  } 
  
}

@media screen and (max-width: 790px) {

  .mainSearch .searchInput {
    display: none;
  } 
  
}