* {
    font-family: 'Syne Mono', monospace;
box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
background-color: white;
z-index: 10;
}

.mainSearch {
    display: flex;
    align-items: center;
}

.mainSearch .logo {
padding: 10px;
font-size: 35px;
}

.mainSearch .logo:hover {
    color: pink;
}

.mainSearch .searchInput {
    display: block;
    height: 35px;
    border-radius: 20px;
    padding: 0 15px;
}

.mainSearch .searchInput:focus {
    border: 3px solid red;
}

.navigation > li > a {
    border-radius: 50%;
    background-color: aqua;
    display: flex;
    margin: 0 5px;
}

.navigation > li > a:hover {
    border: 1px solid red;
    background-color: teal;

}

.navigation, .links {
    display: flex;
}

.navIcons {
    font-size: 35px;
    margin: 0 10px;
}

.navigation .navIcons:hover {
    color: pink;
}

main {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.leftContent, .rightContent {
    background-color: grey;
    width: 200px;
    height: 900px;
}

.mainContent {
    width: 600px;
    border: 1px solid red;
}

.mainContent .post {
    box-shadow: 5px 5px 5px 5px #888;
    margin: 20px 0;
}

.mainContent .post .postHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainContent .post .postHeader .profileUserInfo {
    display: flex;
}

.mainContent .post .postHeader .profileUserInfo .profileImage {
    width: 50px;
    border-radius: 50%;
}

.mainContent .post .postHeader .profileUserInfo .profileName {
    display: flex;
    flex-direction: column;
}

.mainContent .post .postHeader .profileOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
}

.mainContent .post .postHeader .profileOptions:hover {
    background-color: lightgray;
}   

.content .imgWrapper {
    position: relative;
}

.content .imgWrapper .imgContent {
max-width: 100%;
}

.content .imgWrapper .infoIcon {
    position: absolute;
bottom: -15px;
right: 20px;
font-size: 28px;
border-radius: 50%;
border: 1px solid black;
background-color: grey;
color: white;
width: 28px;
height: 28px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

.postTitle {
    margin-top: 5px;
padding-left: 15px;
display: block;
}

.postDescription {
    padding: 15px;
}